<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .dashboard-menu {
        background-color: #333;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .logout-btn {
        background-color: #fd4531;
        color: #fff;
        border: 1px solid rgb(255, 212, 212);
        padding: 5px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;
      }

      .logout-btn:hover {
        background-color: #a93226;
      }

      #role {
        background-color: #c09fff;
        color: black;
        border: none;
        padding: 3px 10px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 3px;
      }

      table {
        width: 100%;
        max-width: 800px;
        margin: 20px auto;
        margin-bottom: 50px;
        border-collapse: collapse;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        background-color: white;
      }

      th:nth-child(1),
      td:nth-child(1) {
        width: 10px;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 100px;
      }

      th:nth-child(3),
      td:nth-child(3) {
        width: 250px;
        text-align: left;
      }

      th:nth-child(4),
      td:nth-child(4) {
        width: 100px;
      }

      th:nth-child(5),
      td:nth-child(5) {
        width: 150px;
      }
      th:nth-child(6),
      td:nth-child(6) {
        width: 100px;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        font-size: 14px;
      }

      th {
        background-color: #525252;
        color: white;
        font-weight: bold;
      }

      .semester-heading {
        background-color: #333333;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #ddd;
      }
      a {
        text-decoration: none;
        color: rgb(82, 90, 209);
      }
      button {
        background-color: rgb(0, 119, 167); 
        color: white;
        padding: 5px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="dashboard-menu">
      <div>
        <span>Welcome, <strong><%=name%></strong></span>
        <span id="role"><strong><%=role%></strong></span>
      </div>
      <form action="/logout" method="POST">
        <button type="submit" class="logout-btn">Logout</button>
      </form>
    </div>

    <!-- students' list -->
    <% [1, 3, 5, 7].forEach((semester) => { %> <% if
    (eval(`sem${semester}std.length > 0`)) { %>
    <table>
      <thead>
        <tr>
          <th class="semester-heading" colspan="6">
            Semester : <%= semester %>
          </th>
        </tr>
        <tr>
          <th>Sl.NO</th>
          <th>USN</th>
          <th style="text-align: center;">Name</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% eval(`sem${semester}std`).forEach((element, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= element.usn %></td>
          <td><%= element.fullname %></td>
          <td><%= element.contactNum %></td>
          <td>
            <a href="mailto:<%=element.email%>"><%= element.email %></a>
          </td>
          <td>
            <form action="/student_details" method="POST" target="_blank">
              <!-- Add hidden input field to store the usn value -->
              <input type="hidden" name="usn" value="<%= element.usn %>" />
              <button type="submit">View Details</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %> <% }) %>
  </body>
</html>
